@import '../../style/variables';

$pagination-prefix-cls: '#{$cls-prefix}-pagination';

.#{$pagination-prefix-cls} {
  margin: 12px 20px;
  list-style: none;
  box-sizing: border-box;
  text-align: right;
  > li {
    padding: 0;
    margin: 0 0 0 8px;
    display: inline-block;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    list-style: none;
    color: rgba(0, 0, 0, 0.65);
    transition: all .3s;
    input,
    select {
      display: inline-block;
      padding: 4px 11px;
      margin: 0 4px;
      width: 50px;
      height: 32px;
      font-size: 14px;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      background-image: none;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      transition: all .3s;
      outline: 0;
      box-sizing: border-box;
    }
    select {
      width: auto;
    }
    input {
      &:hover,
      &:focus {
        border-color: #409aff;
      }
    }
  }
  &-prev,
  &-next {
    color: rgba(0, 0, 0, .65);
    user-select: none;
    cursor: pointer;
  }
  &-next + &-options,
  &-next + &-jumper {
    margin-left: 16px;
  }
  &-disabled {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25) !important;
    }
  }
}
